$artifact-bg: #9facc3;
$artifact-fg: #dfe0f2;
$artifact-bdr: #dbd9e8;
$artifact-txt: #d6d8e7;

$blue-bg: #73b2e0;
$blue-fg: #cfdfec;
$blue-bdr: #2a6186;
$blue-txt: #eaeef7;

$black-bg: #292d3a;
$black-fg: #c4bbc2;
$black-bdr: #2a292c;
$black-txt: #eae6ef;

$green-bg: #709d61;
$green-fg: #c8d5cd;
$green-bdr: #1c6a31;
$green-txt: #dae5de;

$gold-bg: #cebc70;
$gold-fg: #dbc582;
$gold-bdr: #ddd09c;
$gold-txt: #f6f3e2;

$land-bg: #847467;
$land-fg: #c2bebf;
$land-bdr: #897978;
$land-txt: #c8c7c5;

$red-bg: #ce563d;
$red-fg: #f4c0ac;
$red-bdr: #d22e22;
$red-txt: #fde4e3;

$white-bg: #d5cba6;
$white-fg: #f4f5f0;
$white-bdr: #f3f1e9;
$white-txt: #fdfbf8;

$almost-black: #171314;
$silver: #9facb4;
$gold: #d9631b;
